name: CI/CD Pipeline – Build & Deploy to Azure VM

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Login to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 3️⃣ Build & Push Docker Image
      - name: Build and push Docker image
        run: |
          docker build -t lesley237/fastapi-app:latest project-1-ci-cd-docker-aws
          docker push lesley237/fastapi-app:latest

      # 4️⃣ Deploy to Azure VM via SSH
      - name: Deploy to Azure VM via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            docker pull lesley237/fastapi-app:latest
            docker rm -f fastapi-app || true
            docker image prune -f
            docker run -d \
              --name fastapi-app \
              -p 80:8000 \
              lesley237/fastapi-app:latest
